In [18]:
import pandas as pd
import numpy as np

data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv', delimiter=';')
#data1 = pd.DataFrame(data)
data

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

Using the  Wine Quality Dataset, test the claim that Wines with a higher quality rating have a higher median alcohol content than wines with a lower quality rating.

Null hypothesis :  Wines with a higher quality rating does not have a higher median alcohol content than wines with a lower quality rating.
Alternative hypothesis : Wines with a higher quality rating have a higher median alcohol content than wines with a lower quality rating.
Alpha value : 0.05

In [23]:
data.isna().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [24]:
data.alcohol.describe()

count    1599.000000
mean       10.422983
std         1.065668
min         8.400000
25%         9.500000
50%        10.200000
75%        11.100000
max        14.900000
Name: alcohol, dtype: float64

In [25]:
data.quality.describe()

count    1599.000000
mean        5.636023
std         0.807569
min         3.000000
25%         5.000000
50%         6.000000
75%         6.000000
max         8.000000
Name: quality, dtype: float64

In [26]:
data.quality.unique()

array([5, 6, 7, 4, 8, 3], dtype=int64)

In [27]:
High_quality = data[data['quality'] >= 6 ]['alcohol']
Low_quality = data[data['quality'] <= 5 ]['alcohol']

In [33]:
High_quality.describe()

count    855.000000
mean      10.855029
std        1.106109
min        8.400000
25%       10.000000
50%       10.800000
75%       11.700000
max       14.000000
Name: alcohol, dtype: float64

In [31]:
Low_quality.describe()

count    744.000000
mean       9.926478
std        0.758007
min        8.400000
25%        9.400000
50%        9.700000
75%       10.300000
max       14.900000
Name: alcohol, dtype: float64

In [39]:
Highq_median = High_quality.median()

In [38]:
lowq_median = Low_quality.median()

In [36]:
from scipy.stats import ttest_ind
ttest, p_value = ttest_ind(a= High_quality, b=Low_quality)
print(p_value)

1.0239802386368774e-74

Our alpha value is 0.05;

In [37]:
if p_value < 0.05:
    print('Reject null hypothesis.')
else:
    print('Fail to reject null hypothesis.')

Reject null hypothesis.

In [42]:
if lowq_median <= Highq_median:
    print('Reject Null hypothesis.')
else:
    print('Fail to reject null hypothesis.')

Reject Null hypothesis.

With the evidence; we find that the wine with higher quality rating have a higher median of alcohol content than wines with low quality rating.